---
http_interactions:
- request:
    method: get
    uri: https://api.convertkit.com/v3/account?api_key=<API_KEY>&api_secret=<API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"31780a9f8927b4bd79eabb594a810a34"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"","primary_email_address":"email@example.com"}'
  recorded_at: Wed, 17 Jan 2018 09:10:12 GMT
recorded_with: VCR 3.0.3
