---
http_interactions:
- request:
    method: get
    uri: https://api.convertkit.com/v3/forms?api_key=<API_KEY>&api_secret=<API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2d9600a1c415ac1e19ee2465fe41e8cc"'
    body:
      encoding: ASCII-8BIT
      string: '{"forms":[{"id":133233,"name":"Did you like this post","created_at":"2016-12-01T17:25:23Z","type":"embed","url":"https://app.convertkit.com/landing_pages/133233","embed_js":"https://api.convertkit.com/v3/forms/133233.js?api_key=<API_KEY>","embed_url":"https://api.convertkit.com/v3/forms/133233.html?api_key=<API_KEY>","title":"Did
        you like this post?","description":"\u003Cp\u003ESubscribe to my newsletter
        and start every week with a new interesting post! \u003C/p\u003E","sign_up_button_text":"Subscribe","success_message":"Success!
        Now check your email to confirm your subscription."}]}'
  recorded_at: Fri, 02 Dec 2016 22:21:29 GMT
recorded_with: VCR 3.0.3
