---
http_interactions:
- request:
    method: get
    uri: https://api.convertkit.com/v3/custom_fields?api_key=<API_KEY>&api_secret=<API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"347787094aacea2ed1f0bc87551ec42e"'
    body:
      encoding: ASCII-8BIT
      string: '{"custom_fields":[{"id":11174,"name":"ck_field_11174_phone_number","key":"phone_number","label":"Phone
        Number"}]}'
  recorded_at: Fri, 03 Mar 2017 01:05:51 GMT
recorded_with: VCR 3.0.3
