---
http_interactions:
- request:
    method: post
    uri: https://api.convertkit.com/v3/custom_fields?api_key=<API_KEY>&api_secret=<API_SECRET>&label=Occupation
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/v3/custom_fields"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a28614c3d7734e0085a61cde2c07b05a"'
    body:
      encoding: ASCII-8BIT
      string: '{"account_id":26718,"created_at":"2017-03-03T01:22:53Z","id":11176,"key":"occupation","kind":null,"label":"Occupation","updated_at":"2017-03-03T01:22:53Z","name":"ck_field_11176_occupation","value":null}'
  recorded_at: Fri, 03 Mar 2017 01:22:53 GMT
recorded_with: VCR 3.0.3
